body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:348px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u311 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:none;
}
#u311_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:348px;
  height:672px;
  background-image:none;
}
#u311_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:672px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:672px;
}
#u312_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:43px;
  font-size:16px;
  color:#FFFFFF;
}
#u313_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:344px;
  word-wrap:break-word;
}
#u314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:14px;
  width:52px;
  height:16px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u314_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:348px;
  height:65px;
}
#u315_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:104px;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:196px;
  width:325px;
  height:104px;
  font-size:14px;
  text-align:left;
  line-height:20px;
}
#u316_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:14px;
  width:312px;
  word-wrap:break-word;
}
#u317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:53px;
  width:55px;
  height:55px;
}
#u317_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:68px;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:351px;
  width:321px;
  height:68px;
  font-size:14px;
  text-align:left;
  line-height:20px;
}
#u318_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:18px;
  width:308px;
  word-wrap:break-word;
}
#u319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
  line-height:21px;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:163px;
  width:126px;
  height:31px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
  line-height:21px;
}
#u319_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
  line-height:21px;
}
#u319.mouseOver {
}
#u319_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:5px;
  width:100px;
  word-wrap:break-word;
}
#u320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:53px;
  width:182px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u320_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 120, 30, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#EE781E;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:88px;
  width:31px;
  height:20px;
  color:#EE781E;
}
#u321_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:47px;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:473px;
  width:317px;
  height:47px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u322_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:18px;
  width:304px;
  word-wrap:break-word;
}
#u323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 120, 30, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#EE781E;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:88px;
  width:41px;
  height:20px;
  font-size:14px;
  color:#EE781E;
}
#u323_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
  line-height:21px;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:321px;
  width:126px;
  height:31px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
  line-height:21px;
}
#u324_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
  line-height:21px;
}
#u324.mouseOver {
}
#u324_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
  line-height:21px;
}
#u324.disabled {
}
#u324_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:5px;
  width:100px;
  word-wrap:break-word;
}
#u325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
  line-height:21px;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:442px;
  width:126px;
  height:31px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
  line-height:21px;
}
#u325_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
  line-height:21px;
}
#u325.mouseOver {
}
#u325_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
  line-height:21px;
}
#u325.disabled {
}
#u325_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:5px;
  width:100px;
  word-wrap:break-word;
}
#u326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:162px;
  width:31px;
  height:31px;
  color:#FFFFFF;
}
#u326_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:321px;
  width:31px;
  height:31px;
  color:#FFFFFF;
}
#u327_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:442px;
  width:31px;
  height:31px;
  color:#FFFFFF;
}
#u328_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#EE781E;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:124px;
  width:183px;
  height:19px;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#EE781E;
}
#u329_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF9900;
  text-align:center;
  line-height:21px;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:167px;
  width:120px;
  height:21px;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF9900;
  text-align:center;
  line-height:21px;
}
#u330_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF9900;
  text-align:center;
  line-height:21px;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:326px;
  width:65px;
  height:21px;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF9900;
  text-align:center;
  line-height:21px;
}
#u331_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF9900;
  text-align:center;
  line-height:21px;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:447px;
  width:81px;
  height:21px;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF9900;
  text-align:center;
  line-height:21px;
}
#u332_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#EE781E;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:86px;
  width:36px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#EE781E;
}
#u334_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#EE781E;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:86px;
  width:16px;
  height:22px;
  font-size:18px;
  color:#EE781E;
}
#u335_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#EE781E;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:86px;
  width:16px;
  height:22px;
  font-size:18px;
  color:#EE781E;
}
#u336_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u337 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:550px;
  width:16px;
  height:16px;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:550px;
  width:155px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u339_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  line-height:28px;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:576px;
  width:300px;
  height:84px;
  color:#666666;
  line-height:28px;
}
#u340_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:249px;
  width:300px;
  height:170px;
  overflow:hidden;
  visibility:hidden;
}
#u341_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u341_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(238, 120, 30, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u342_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
  line-height:28px;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:14px;
  width:71px;
  height:56px;
  color:#FFFFFF;
  text-align:center;
  line-height:28px;
}
#u343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#EE781E;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:110px;
  width:165px;
  height:40px;
  color:#EE781E;
}
#u344_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
