body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:348px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:560px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:560px;
  font-size:36px;
  color:#FFFFFF;
}
#u398_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:259px;
  width:344px;
  word-wrap:break-word;
}
#u399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 120, 30, 1);
  border-radius:55px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#EE781E;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:449px;
  width:198px;
  height:40px;
  color:#EE781E;
}
#u399_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:194px;
  word-wrap:break-word;
}
